body {
   
    margin: 25px 50px 75px 100px;
   
    background-image: url("https://imgs.search.brave.com/kwNmYy5qW3WE2bg-9tohmx6shyuBiQEs11oWWwDe_Zk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9sdG9w/b3J0YWwucGgvd3At/Y29udGVudC91cGxv/YWRzLzIwMjMvMTIv/Y2NsZXguanBlZw");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}   


h1 {
    color: white;
    font-style: italic;
    background-color: red;
    opacity: 0.8;
    border-radius: 20px;
}

img {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        height: 500px;
        border: 10px solid white;
        border-radius: 20px;
 }
 
p {
    color: white;
    font-size: 30px;
    text-align: justify;
    background-color: red;
    padding: 20px;
    opacity: 0.8;
    border-radius: 20px;
    word-spacing: 5px; 
}


h2 {
    color: white;
    background-color: red;
    opacity: 0.8;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px;
}


footer {

    text-align: center;
    font-size: 30px;
  }
  mark {
    background-color: rgb(84, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 10px;
    
  }
  

